<h1>Simple ag-Grid Angular Example</h1>
<ag-grid-angular style="width: 500px; height: 115px;"
                 class="ag-fresh"
                 [rowData]="rowData"
                 [columnDefs]="columnDefs"
                 [gridOptions]="gridOptions"
                 [enableSorting]="true"
                 [enableFilter]="true"
                 (gridReady)="onGridReady($event)">
</ag-grid-angular>
<ag-grid-angular style="width: 500px; height: 1100px;"
                 class="ag-fresh"
                 [rowData]="rowData1"
                 [columnDefs]="columnDefs1"
                 [gridOptions]="gridOptions1"
                 [enableSorting]="true"
                 [enableFilter]="true"
                 (gridReady)="onGridReady($event)">
</ag-grid-angular>